@charset "utf-8";
*{margin: 0px; padding: 0px;}
.header{
	position: fixed;
	top: 0;
	left: 0;
	/*border: 1px solid black;*/
	background-color: #fff;
	height: 60px;
	width: 100vw;
	display: flex;
	z-index: 10;
}
.header_left{
	display: inline-block;
	/*border: 1px solid orange;*/
	height:100%;
	flex: 1;
}
.logo{
	height: 60px;
}
.logo > img{
	width: 200px;
	height: 40px;
	margin: 10px 0 10px 50px;
}

.header_center{
	display: inline-block;
	/*border: 1px solid blue;*/
	height:100%;
	flex: 1;
}
.search_wrap{
	display: flex;
	margin-top: 15px;
	/*border: 1px solid gray;*/
	width: 100%;
	height: 30px;
	/*border: 1px solid orange;*/
}
.search_icon{
	text-align: center;
	height: 90%;
	width: 85px;
	line-height: 30px;
	border: 1px solid gray;
	border-left: none;
	background-color: #f3f3f3;
	color: gray;
}
.search_icon:hover{
	background-color: #dadada;
	color: #313131;
	cursor: pointer;
}

.search_wrap > input{
	outline: none;
	border: 1px solid gray;
	width: 550px;
	height: 90%;
}

.header_right{
	display: flex;
	/*border: 1px solid red;*/
	padding-right: 20px;
	height:100%;
	flex: 1;
}
.login_space{
	flex: 5;
}

.login_icon{
	cursor: pointer;
	font-size: 15px;
	flex: 1;
	text-decoration: none;
	line-height: 55px;
	color: #6799FF;
}
.login_icon > a{
	color: #6799FF;
	text-decoration: none;
}

.login_icon:hover{
	color: coral;
}





.body_wrap{
	position: relative;
	display: flex;
	background-color: #fdfdfd;
	/*border: 2px solid black;*/
	margin-top: 60px; 
}
.side{
	position: fixed;
	background-color: #fff;
	/*border: 1px solid orange;*/
	width: 300px;
	height: 100%;
}
.side_line{
	color: #4a4a4a;
	border-top: 1px solid #e1e1e1;
}
#side_header{
	padding: 10px 0;
	width: 100%;
	font-size: 20px;
}
.side_btn{
	margin: 10px 0;
	height: 40px;
	display: flex;
	line-height: 40px;
}
.side_btn:hover{
	cursor: pointer;
	color: #6799FF;
	background-color: #dfdfdf;
}
.header_icon{
	text-align: center;
	flex: 1;
}
.header_menu{
	flex: 3;
}


.side_btn2{
	margin: 10px 0;
	height: 40px;
	display: flex;
	line-height: 40px;
}
.side_btn2:hover{
	color: #6799FF;
	cursor: pointer;
	background-color: #dfdfdf;
}

.side_body{
	padding: 10px 0;
}

.smenu{
	height: 100px;
}
.side_btn3{
	margin: 0;
	height: 40px;
	display: flex;
	line-height: 30px;
	text-align: left;
	flex-direction: column;
}
.accordion{
	display: none;
}
.side_btn3:hover{
	cursor: pointer;
	color: coral; 
}



#side_footer{
	height: 500px;
	position: relative;
}
.btn{
	display: inline-block;
	width: 45px;
	background-color: #f1f1f1;
	border-radius: 30%;
	box-shadow: 0 5px 15px -5px #00000070;
	/*color: #30A9DE;*/
	overflow: hidden;
	position: relative;
}
.sns{
	display: inline-block;
	position: absolute;
	width: 100%;
	bottom: 20px;
	font-size: 2.3em;
	text-align: center;
	line-height: 55px;
}
.sns > a{
	width: 60px;
	height: 60px;
}
.btn i{
	line-height: 45px;
	transition: .2s linear;
}
.btn:hover i{
	transform: scale(1.3);
	color: #f1f1f1;
}
.insta{color: #BD24A9;}
.facebook{color: #4374D9;}
.youtube{color: #FF0000;}
.line{color: #1fbc02;}

.insta:before{
	content: "";
	position: absolute;
	width: 120%;
	height: 120%;
	background-color: #BD24A9;
	transform: rotate(45deg);
	left: -120%;
	top: 80%;
}
.facebook:before{
	content: "";
	position: absolute;
	width: 120%;
	height: 120%;
	background-color: #4374D9;
	transform: rotate(45deg);
	left: -120%;
	top: 80%;
}
.youtube:before{
	content: "";
	position: absolute;
	width: 120%;
	height: 120%;
	background-color: #FF0000;
	transform: rotate(45deg);
	left: -120%;
	top: 80%;
}
.line:before{
	content: "";
	position: absolute;
	width: 120%;
	height: 120%;
	background-color: #1fbc02;
	transform: rotate(45deg);
	left: -120%;
	top: 80%;
}
.btn:hover:before{
	animation: aaa 0.7s 1;
	top: -10%;
	left: -10%;
}
@keyframes aaa{
	0%{
		left:-110%;
		top:90%;
	}
	50%{
		left: 10%;
		top: -30%;
	}
	100%{
		left: -10%;
		top: -10%;
	}
}







.body{
	/*position: absolute;*/
	margin-left: 300px;
	text-align: center;
	/*border: 3px solid blue;*/
	font-size: 50px;
	width: 100vw;
	height: 1200px;
	right: 0;
	bottom: 0;
	flex: 5;
}
.body_menu{
	position: relative;
	/*border: 1px solid green;*/
	height: 400px;
	margin-bottom: 100px;
}
.main_title{
	position: absolute;
	width: 500px;
	height: 100px;
	/*border: 1px solid black;*/
	font-size: 35px;
	line-height: 100px;
	top: 0;
	left: -150px;
}

.menu_wrap{
	position: relative;
	margin: 150px 250px 0px 150px;
	padding: 100px 40px 40px 40px;
	border: 1px solid orange;
	display: flex;
	justify-content: space-between;
}
.main_menu{
	position: relative;
	overflow: hidden;
	font-size: 30px;
	line-height: 35px;
	border: 1px solid black;
	background-color: white;
	width: 200px;
	height: 200px;
}
.main_menu > img{
	width: 100%;
	height: 150px;
	border-bottom: 1px solid gray;
}

.menu_opacity1{
	position: absolute;
	width: 100%;
	height: 100%;
	background: gray;
	opacity: 0.3;
	top: 100%;
}
.menu_opacity2{
	position: absolute;
	width: 100%;
	height: 100%;
	background: gray;
	opacity: 0.3;
	top: -100%;
}
.main_menu:hover{
	cursor: pointer;
}
.main_menu:hover .menu_icon{
	display: block;
}
.main_menu:hover .menu_opacity1{
	animation: opacity_menu1 0.7s 1;
	top: 0%;
}
.main_menu:hover .menu_opacity2{
	animation: opacity_menu2 0.7s 1;
	top: 0%;
}
@keyframes opacity_menu1{
	0%{	top:-100%; }
	100%{ top:0%;	}
}
@keyframes opacity_menu2{
	0%{	top:100%; }
	100%{ top:0%;	}
}
.menu_icon{
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 50px;
	line-height: 50px;
	top: 30%;
	display: none;
}





.footer{
	border: 1px solid orange;
	width: 100%;
	height: 70px;
	bottom: 0px;
}







/*모달창*/
#modal{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.6);
	z-index: 3;
	display: none;
	justify-content: center;
	align-items: center;
}
#modal_login{
	position: relative;
	background-color: white;
	width: 400px;
	height: 500px;
	text-align: center;
}
#close_btn{
	/*border: 1px solid black;*/
	position: absolute; 
	top:0;
	right: 0;
	width: 30px;
	height: 30px;
	cursor: pointer;
	font-size: 30px;
	line-height: 30px;
	color: lightgray;
}
.login_logo{
	margin: 40px 20px 20px 20px;
}
.login_logo > img{
	width: 200px;
	height: 50px;
}
.text_box{
	/*border: 1px solid blue;*/
	margin: 50px 0 0 0;
}
.input_box{
	border: 1px solid lightgray;
	height: 50px;
	width: 350px;
	margin: 20px auto;
}
.input_login{
	border: none;
}
.input_box > input{
	border: none;
	margin-top: 10px;
	width: 330px;
	height: 30px;
}
.login_box{
	cursor: pointer;
	margin: 0px auto;
	width: 350px;
	height: 50px;
	background-color: skyblue;
	font-size: 30px;
	line-height: 40px;
	font-weight: 800;
	color: white;
}
.modal_box{
	position: relative;
	margin: 0px auto;
	padding: 10px 0 0 0;
	/*border: 1px solid black;*/
	width: 350px;
	height: 40px;
	display: flex;
	font-size: 13px;
	border-bottom: 1px solid lightgray;
}
.modal_box >label{
	background: url("images/ck.png") no-repeat;
	display: block;
	height: 26px;
	line-height: 25px;
	padding-left: 25px;
}
.modal_box > input{
	visibility: hidden;
	position: absolute;
	width: 22px;
	height: 22px;
	margin-top: 10px;
	margin-left: 10px; 
}
.modal_box > input:checked +label{
	background-image: url("images/ck2.png");
}
.member_box{
	margin-top: 10px;
	font-size: 12px;
}
.member_box > a{
	text-decoration: none;
	color: gray;
}

.err_code{
	position: absolute;
	display: inline-block;
	color: #ff1616;
	font-size: 12px;
	line-height: 16px;
	margin: -20px 0px;
	left: 30px;
	display: none;
}
