

*{
	margin: 0;
	padding: 0;
}
body{
	background: #eaeaea;
}
.body_wrap{
	
}
.body_box{
	background: white;
	margin: 50px auto 0;
	border: 1px solid black;
	width: 600px;
	height: 850px;
}
.body_header{
	/*border: 1px solid blue;*/
	margin-top: 0px;
	text-align: center;
	height: 150px;
	line-height: 70px;
	font-size: 30px;
}
.body_header > img{
	margin-top: 50px;
	height: 100px;
	width: 250px;
}
.info_box{
	position: relative;
	/*border: 1px solid blue;*/
	height: 70px; 
	padding: 0 0 0 50px;
	margin-top: 0px;
}

.insert_div{
	border: 1px solid #DDD;
	width: 500px;
	height: 40px;
	box-sizing: border-box;
	margin-top: 5px;
	position: relative;
}
/*
.insert_label{
	font-size: 14px;
	position: absolute;
	z-index: 1;
	transition: all .4s cubic-bezier(.25,.8,.25,1);
	transition-duration: .3s;
	color: #979797;
	top: 14px;
	left: 10px;
}*/
.input_class{
	width: 100%;
	height: 100%;
	display: inline-block;
	position: relative;
	border: none;
	overflow: visible;
	padding: 0 0 0 10px;
	box-sizing: border-box;
	transition: all .4s cubic-bezier(.25,.8,.25,1);
	outline: none;
	font-size: 20px;
}
.mail_box{
	width: 200px;
	display: inline-block;
	margin-right: 10px;
}
.mail_input{
	width: 50px;
}
.insert_phone{
	border: 1px solid #DDD;
	width: 130px;
	height: 40px;
	box-sizing: border-box;
	margin-top: 5px;
	position: relative;
}
.phone_flex{
	width: 500px;
	display: flex;
	justify-content: space-between;
}
.underbar{
	line-height: 50px;
}

#insert_mail{
	font-size: 15px;
	width: 180px;
	/*border: 1px solid #DDD;*/
}
.at{
	line-height: 40px;
	width: 20px;
	margin: 0 5px 0 5px;
}
.space_box{
	width: 10px;
}
#mail_wrap{
	display: flex;
}
#email_url{
	width: 130px;
}
#mail_wrap{
	border: none;
}
#email_box{
	border: 1px solid #DDD;
}


#addr_box{
	height: 180px;
}
.addr{
	width: 242px;
	height:30px;
	margin-top: 10px;
}
#addr_btn{
	height: 30px;
}


.ox_btn{
	/*border: 1px solid red;*/
	width: %;
	height: 50px;
	display: flex;
	justify-content: space-between;
	padding: 0 40px 0 40px;
}
.btn_box{
	margin: 0 10px 0 10px;
	border: 1px solid black;
	width: 600px;
	height: 50px;
	text-align: center;
	font-size: 30px;
	line-height: 45px;
	/*background-color: blue;*/
}